.recomendLink {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .recomendLink img {
    width: 30px;
    height: 30px;
    border-radius: 0.4rem;
    object-fit: contain;
  }